<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Spring Boot</title>
		<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
		<script>
			$(function(){
				
				$('#name').click(function(){
					alert($(this).val());
				});
				
			});
		</script>
	</head>
	<!--
		날짜 : 2023/01/09
		이름 : 박종협
		내용 : SpringBoot 실습 
	 -->
	<body>
		<h3>스프링부트 실습</h3>
		
		<a th:href="@{/hello}">Hello</a>
		<a th:href="@{/welcome}">welcome</a>
		<a th:href="@{/greeting}">greeting</a>
		
		<h4>타임리프 출력</h4>
		<p>[[${tit1}]]</p>
		<p th:text="${tit2}">내용</p>
		
		<h4>타임리프 조건문</h4>
		<p>
			<span th:if="${user1.name=='홍길동'}">user1은 홍길동 입니다.</span>
			<span th:if="${user1.name=='김유신'}">user1은 김유신 입니다.</span>
		</p>
		<p>
			<span th:if="${user1.age > 20}">user1은 성인 입니다.</span>
			<span th:unless="${user1.age > 20}">user1은 성인이 아닙니다.</span>
		</p>
		<p>
			<span th:if="${user1}">user1은 참 입니다.</span>
			<span th:unless="${user1}">user1은 거짓 입니다.</span>
		</p>
		<p>
			<span th:if="${user2}">user2는 참 입니다.</span>
			<span th:unless="${user2}">user2는 거짓 입니다.</span>
		</p>
		<p th:switch="${user1.age > 20}">
			<span th:case="true">user1은 성인 입니다.</span>
			<span th:case="false">user1은 성인이 아닙니다.</span>
		</p>
		
		<h4>타임리프 반복문</h4>
		<table border="1">
			<tr th:each="user:${users}">
				<td>[[${user.uid}]]</td>
				<td>[[${user.name}]]</td>
				<td th:text="${user.hp}">휴대폰</td>
				<td th:text="${user.age}">나이</td>
			</tr>
		</table>
		
		<h4>타임리프 링크</h4>
		<a th:href="@{/sub/include}">타임리프 include 실습</a>
		<a th:href="@{/sub/layout}">타임리프 layout 실습</a>
		
		<h4>타임리프 기타</h4>
		<button id="name" th:value="${user1.name}">이름 표시</button>
		<label><input type="radio" value="1" th:checked="${user1.name == '김유신'}">김유신</label>
		<label><input type="radio">김유신</label>
	</body>
</html>