<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{_header.html}"></th:block>
<script>
    // 데이터 검증에 사용하는 정규표현식
    let reUid   = /^[a-z]+[a-z0-9]{5,19}$/g;
    let rePass  = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{5,16}$/;
    let reName  = /^[ㄱ-힣]+$/;
    let reNick  = /^[a-zA-Zㄱ-힣0-9][a-zA-Zㄱ-힣0-9]*$/;
    let reEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
    let reHp    = /^01(?:0|1|[6-9])-(?:\d{4})-\d{4}$/;
    let reAuth  = /^[0-9]+$/;

    // 폼 데이터 검증 결과 상태변수
    let isUidok = false;
    let isPassok = false;
    let isNameok = false;
    let isNickok = false;
    let isEmailok = false;
    let isEmailAuthOk = false;
    let isHpok = false;

    function checkUid(){

        let uid = $('input[name=uid]').val();
        const resultUid = document.querySelector('span[class=resultUid]');

        if(!uid){ alert('아이디를 입력하세요'); return false; }

        if(uid.match(reUid)){
            $.ajax({
                url:'/FarmStory/user/checkUid',
                data:{ "uid":uid },
                method:'GET',
                dataType:'JSON',
                success: function(data){

                    if(data.result == 1){
                        resultUid.innerText = "이미 사용중인 아이디입니다..";
                        resultUid.style.color = "red";
                        isUidok = false;
                    }else{
                        resultUid.innerText = "사용 가능한 아이디입니다.";
                        resultUid.style.color = "green";
                        isUidok = true;
                    }
                }
            });
        }else{
            resultUid.innerText = "아이디 양식에 맞지 않습니다.";
            resultUid.style.color = "red";
            isUidok = false;
        }
    }

    function checkNick(){

        let uid = $('input[name=nick]').val();
    }
</script>
        <main id="user" class="register">
            <form th:action="@{/user/register}" method="post">
                <table border="1">
                    <caption>사이트 이용정보 입력</caption>
                    <tr>
                        <th>아이디</th>
                        <td>
                            <input type="text" name="uid" placeholder="아이디 입력"/>
                            <button type="button" id="btnCheckUid" onclick="checkUid()"><img th:src="@{/img/chk_id.gif}" alt="중복확인"/></button>
                            <span class="resultUid"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td>
                            <input type="password" name="pass1" placeholder="비밀번호 입력"/>
                        </td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td>
                            <input type="password" name="pass2" id="checkPass" placeholder="비밀번호 입력 확인"/>
                            <span class="resultPass"></span>
                        </td>
                    </tr>
                </table>

                <table border="1">
                    <caption>개인정보 입력</caption>
                    <tr>
                        <th>이름</th>
                        <td>
                            <input type="text" name="name" id="checkName" placeholder="이름 입력"/>
                            <span class="resultName"></span>                        
                        </td>
                    </tr>
                    <tr>
                        <th>별명</th>
                        <td>
                            <p>공백없이 한글, 영문, 숫자 입력</p>
                            <input type="text" name="nick" placeholder="별명 입력"/>
                            <button type="button" onclick="checkNick()"><img th:src="@{/img/chk_id.gif}" alt="중복확인"/></button>
                            <span class="resultNick"></span>
                        </td>
                    </tr>                    
                    <tr>
                        <th>이메일</th>
                        <td>
                            <input type="email" name="email" id="email" placeholder="이메일 입력"/>
                            <span class="resultEmail"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>휴대폰</th>
                        <td>
                            <input type="text" name="hp" id="hp" placeholder="- 포함 13자리 입력"/>
                            <span class="resultHp"></span>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>
                            <input type="text" name="zip" id="zip" placeholder="우편번호 검색" readonly/>
                            <button type="button" onclick="zipcode()"><img th:src="@{/img/chk_post.gif}" alt="우편번호 찾기"/></button>
                            <input type="text" name="addr1" id="addr1" placeholder="기본주소 검색" readonly/>
                            <input type="text" name="addr2" id="addr2" placeholder="상세주소 입력"/>
                        </td>
                    </tr>
                </table>

                <div>
                    <a th:href="@{/user/login}" class="btnCancel">취소</a>
                    <input type="submit" class="btnRegister" value="회원가입"/>
                </div>
            </form>            
        </main>
<th:block th:include="@{_footer.html}"></th:block>
</html>