<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<!--
			날짜 : 2023.02.06
			이름 : 박종협
			내용 : 수행평가
		-->
	</head>
	<body>
		<div id="map" style="position:fixed;width:100%;height:100%;"></div>
		
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cba7ca35eb4233cb8187376ebfe43da0"></script>
		<script th:inline="javascript">
			var container = document.getElementById('map');
			var options = {
				center: new kakao.maps.LatLng(35.17976009603529, 129.0750629182266),
				level: 5
			};
	
			var map = new kakao.maps.Map(container, options);
			var items = [[${items}]];

			for(var item of items){

				//마커 생성
				var marker = new kakao.maps.Marker({
							title: item.animal_hospital,
							position: new kakao.maps.LatLng(item.lat, item.lon)
				});

				// 마커 표시
				marker.setMap(map);
			}
		</script>
	</body>
</html>